<section class="services">
  <div class="container">
    <div class="row">
      <h1 class="section-title-grey">ABOUT US</h1>
      <hr class="section-hr-grey">
      <div class="col-sm-1"></div>
      <div class="col-sm-10 services-pack">
        <h2>Our TV Installation will give you blah blah, peice of mind, blah blah, maximum comfort, and everything nice in Arizona.</h2>
        <div class="row">
          <div class="col-md-6 service-title">
            <i class="fa fa-television techicon" aria-hidden="true"></i>
            <p>We do it all: Wall-mount flat panel televisions, install speakers and wiring, install rack systems, install security cameras, conceal wiring inside the walls, set-up and calibrate televisions and sound systems, programming on custom remote controls, and much more…</p>
          </div>
          <div class="col-md-6 service-title">
            <img src="img/placeholder.jpg" alt="Strong Tower Installations" style="height:300px">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
