<section class='hero'>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>WE ARE STRONG TOWER</h1>
      </div>
    </div>
  </div>
</section>
<section class="services">
  <div class="container">
    <div class="row">
      <h1 class="section-title-grey">OUR MISSION</h1>
      <hr class="section-hr-grey">
    </div>
  </div>
</section>
<section class="services">
  <div class="container">
    <div class="row">
      <h1 class="section-title-grey">OUR TEAM</h1>
      <hr class="section-hr-grey">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <img src="../img/strongtower_aboutus.jpg" alt="" style='height: 475px;margin: 0 auto;display: block;'>
      </div>
    </div>
  </div>
</section>
