<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=902009893274771";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<ng-owl-carousel id='main-carousel' class="owl-theme" owl-items="owlitems" owl-properties="owlproperties">
  <div class="item">
    <img src="img/stocks/relaxingguy.jpg" alt="Strong Tower Installations">
    <div class="carousel-content">
    </div>
  </div>
  <div class="item">
    <img src="img/stocks/home_automation_lady.jpg" alt="Strong Tower Installations">
    <div class="carousel-content">
    </div>
  </div>
  <div class="item">
    <img src="img/stocks/security_monitoring_pc.jpg" alt="Strong Tower Installations">
    <div class="carousel-content">
    </div>
  </div>
  <div class="item">
    <img src="img/stocks/hometheatre_1.jpg" alt="Strong Tower Installations">
    <div class="carousel-content">
    </div>
  </div>
  <div class="item">
    <img src="img/stocks/home_automation.jpg" alt="Strong Tower Installations">
    <div class="carousel-content">
    </div>
  </div>
</ng-owl-carousel>

<section class="services">
  <div class="container">
    <div class="row">
      <h1 class="section-title-grey">OUR SERVICES</h1>
      <hr class="section-hr-grey">
      <div class="col-sm-1"></div>
      <div class="col-sm-10 services-pack">
        <h2>Our Services will give you blah blah, peice of mind, blah blah, maximum comfort, and everything nice in Arizona.</h2>
        <div class="row">
          <div class="col-md-6 service-title">
            <i class="fa fa-television techicon" aria-hidden="true"></i>
            <h3>TV Installation</h3>
            <p>We do it all: Wall-mount flat panel televisions, install speakers and wiring, install rack systems, install security cameras, conceal wiring inside the walls, set-up and calibrate televisions and sound systems, programming on custom remote controls, and much more…</p>
            <button ui-sref="services({scrollTo: 'tvinstall'})">LEARN MORE</button>
          </div>
          <div class="col-md-6 service-title">
            <i class="fa fa-music techicon" aria-hidden="true"></i>
            <h3>Media Rooms & Surround Sound Systems</h3>
            <p>There are many variables that can make or break or theater or media room. We can design rooms based on acoustics, aesthetics, and audio video needs. We work with architects and interior designers to make sure that every detail is perfect.</p>
            <button ui-sref="services({scrollTo: 'media'})">LEARN MORE</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 service-title">
            <i class="fa fa-shield techicon" aria-hidden="true"></i>
            <h3>Security Systems</h3>
            <p>Home security should be a high priority for any home owner whether you are married, a single parent, or simply need to add an appropriate alarm system for your family’s elders.</p>
            <button ui-sref="services({scrollTo: 'security'})">LEARN MORE</button>
          </div>
          <div class="col-md-6 service-title">
            <i class="fa fa-video-camera techicon" aria-hidden="true"></i>
            <h3>Cameras & Surveillance</h3>
            <p>The increase in crime rates makes it necessary that each one of us take precautions of our own to keep our home and families safe. The easy and affordable access to technology has brought cameras and surveillance systems within reach for everyone.</p>
            <button ui-sref="services({scrollTo: 'cameras'})">LEARN MORE</button>
          </div>
        </div>
        <div class="col-md-6 service-title">
          <i class="fa fa-wifi techicon" aria-hidden="true"></i>
          <h3>Wifi Solutions</h3>
          <p>Relying on a single router is like asking a loud speaker in your living room to provide great sound throughout your home. It’s simple physics: WiFi waves don’t go through walls well and have an even harder time climbing stairs. Ever tried to stream a show from your bedroom when your router’s in the office downstairs? It’s a buffering nightmare.</p>
          <button ui-sref="services({scrollTo: 'wifi'})">LEARN MORE</button>
        </div>
        <div class="col-md-6 service-title">
          <i class="fa fa-magic techicon" aria-hidden="true"></i>
          <h3>Home Automation</h3>
          <p>The term home automation means exactly that—automating the home and related household activities. This term encompasses a whole range of products and services ranging from the automation of lights in your home to the installation of a state-of-the art security system.
          </p>
          <button ui-sref="services({scrollTo: 'automation'})">LEARN MORE</button>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
<section class="showroom">

</section>
<section class="services">
  <div class="container">
    <div class="row">
      <h2 class="section-title-grey">SOCIAL MEDIA</h2>
      <hr class="section-hr-grey">
      <div class="col-sm-1"></div>
      <div class="col-sm-10 services-pack plugin-container">
        <div class="fbplugin">
          <div class="fb-page" data-href="https://www.facebook.com/strongtowerinstallations/" data-tabs="timeline" data-width="500" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/strongtowerinstallations/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/strongtowerinstallations/">Strong Tower Installations</a></blockquote></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="our-partners">
  <div class="container">
    <div class="row">
      <h2 class="section-title-grey">OUR PARTNERS</h2>
      <hr class="section-hr-grey">
      <ng-owl-carousel id='products-carousel' class="owl-theme" owl-items="owlitems" owl-properties="owlpropertiesPartners">
        <div class="item">
          <img src="img/partners/2gig_logo.jpg" alt="2gig_logo">
        </div>
        <div class="item">
          <img src="img/partners/alarmdotcom_logo.jpg" alt="alarmdotcom_logo">
        </div>
        <div class="item">
          <img src="img/partners/cctvcore_logo.jpg" alt="cctvcore_logo">
        </div>
        <div class="item">
          <img src="img/partners/denom_logo.jpg" alt="denom_logo">
        </div>
        <div class="item">
          <img src="img/partners/elura_logo.jpg" alt="elura_logo">
        </div>
        <div class="item">
          <img src="img/partners/honeywell_logo.jpg" alt="honeywell_logo">
        </div>
        <div class="item">
          <img src="img/partners/jamo_logo.jpg" alt="jamo_logo">
        </div>
        <div class="item">
          <img src="img/partners/mountainwest_logo.jpg" alt="mountainwest_logo">
        </div>
        <div class="item">
          <img src="img/partners/onkyo_logo.jpg" alt="onkyo_logo">
        </div>
        <div class="item">
          <img src="img/partners/ring_logo.jpg" alt="ring_logo">
        </div>
        <div class="item">
          <img src="img/partners/samsung_logo.jpg" alt="samsung_logo">
        </div>
        <div class="item">
          <img src="img/partners/wave_logo.jpg" alt="wave_logo">
        </div>
        <div class="item">
          <img src="img/partners/yamaha_logo.jpg" alt="yamaha_logo">
        </div>
      </ng-owl-carousel>
    </div>
  </div>
</section>
