
<section class='hero services-img'>
  <div class="hero-filter">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>WE LOVE WHAT WE DO</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="services">
  <div class="container">
    <div class="row">
      <h1 class="section-title-grey">TV Installation</h1>
      <hr class="section-hr-grey">
      <div class="col-sm-1"></div>
      <div class="col-sm-10 services-pack">
        <h2>Our TV Installation will give you blah blah, peice of mind, blah blah, maximum comfort, and everything nice in Arizona.</h2>
        <div class="row">
          <div class="col-md-6 service-title">
            <i class="fa fa-television techicon" aria-hidden="true"></i>
            <p>We do it all: Wall-mount flat panel televisions, install speakers and wiring, install rack systems, install security cameras, conceal wiring inside the walls, set-up and calibrate televisions and sound systems, programming on custom remote controls, and much more…</p>
          </div>
          <div class="col-md-6 service-title">
            <img src="img/placeholder.jpg" alt="Strong Tower Installations" style="height:300px">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="services">
  <div class="container">
    <div class="row">
      <h1 class="section-title-grey">Media Rooms & Surround Sound Systems</h1>
      <hr class="section-hr-grey">
      <div class="col-sm-1"></div>
      <div class="col-sm-10 services-pack">
        <h2>Our Media Rooms & Surround Sound Systems will give you blah blah, peice of mind, blah blah, maximum comfort, and everything nice in Arizona.</h2>
        <div class="row">
          <div class="col-md-6 service-title">
            <img src="img/placeholder.jpg" alt="Strong Tower Installations" style="height:300px">
          </div>
          <div class="col-md-6 service-title">
            <i class="fa fa-music techicon" aria-hidden="true"></i>
            <p>There are many variables that can make or break or theater or media room. We can design rooms based on acoustics, aesthetics, and audio video needs. We work with architects and interior designers to make sure that every detail is perfect.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="services">
  <div class="container">
    <div class="row">
      <h1 class="section-title-grey">Security Systems</h1>
      <hr class="section-hr-grey">
      <div class="col-sm-1"></div>
      <div class="col-sm-10 services-pack">
        <h2>Our Security Systems will give you blah blah, peice of mind, blah blah, maximum comfort, and everything nice in Arizona.</h2>
        <div class="row">
          <div class="col-md-6 service-title">
            <i class="fa fa-shield techicon" aria-hidden="true"></i>
            <p>Home security should be a high priority for any home owner whether you are married, a single parent, or simply need to add an appropriate alarm system for your family’s elders.</p>
          </div>
          <div class="col-md-6 service-title">
            <img src="img/placeholder.jpg" alt="Strong Tower Installations" style="height:300px">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="services">
  <div class="container">
    <div class="row">
      <h1 class="section-title-grey">Cameras & Surveillance</h1>
      <hr class="section-hr-grey">
      <div class="col-sm-1"></div>
      <div class="col-sm-10 services-pack">
        <h2>Our Cameras & Surveillance will give you blah blah, peice of mind, blah blah, maximum comfort, and everything nice in Arizona.</h2>
        <div class="row">
          <div class="col-md-6 service-title">
            <img src="img/placeholder.jpg" alt="Strong Tower Installations" style="height:300px">
          </div>
          <div class="col-md-6 service-title">
            <i class="fa fa-video-camera techicon" aria-hidden="true"></i>
            <p>The increase in crime rates makes it necessary that each one of us take precautions of our own to keep our home and families safe. The easy and affordable access to technology has brought cameras and surveillance systems within reach for everyone.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section id="work-section" class="work-section">
  <div class="container mobile-layout">
    <div class="row">
      <div class="col-sm-2>">
      </div>
      <div class="col-sm-8 mobile-tile odd">
        <div class="col-sm-12">
          <img class="img-responsive" src="img/stocks/tvmount_install.jpg" alt="Strong Tower Installations">
        </div>
        <div class="col-sm-12">
          <h1>TV Installation</h1>
          <p>We do it all: Wall-mount flat panel televisions, install speakers and wiring, install rack systems, install security cameras, conceal wiring inside the walls, set-up and calibrate televisions and sound systems, programming on custom remote controls, and much more…We do it all: Wall-mount flat panel televisions, install speakers and wiring, install rack systems, install security cameras, conceal wiring inside the walls, set-up and calibrate televisions and sound systems, programming on custom remote controls, and much more…
          </p>
          <ul>
            <li>Our TV Installation will give you blah blah, peice of mind, blah blah, maximum comfort, and everything nice in Arizona.</li>
          </ul>
          <div class="clearfix">
          </div>
        </div>
      </div>
      <div class="col-sm-2>">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2>">
      </div>
      <div class="col-sm-8 mobile-tile">
        <div class="col-sm-12">
          <img class="img-responsive" src="img/stocks/hometheater_2.jpg" alt="Strong Tower Installations">
        </div>
        <div class="col-sm-12">
          <h1>Media Rooms & Surround Sound Systems</h1>
          <p>There are many variables that can make or break or theater or media room. We can design rooms based on acoustics, aesthetics, and audio video needs. We work with architects and interior designers to make sure that every detail is perfect.There are many variables that can make or break or theater or media room. We can design rooms based on acoustics, aesthetics, and audio video needs. We work with architects and interior designers to make sure that every detail is perfect.</p>
          <ul>
            <li>Our Media Rooms & Surround Sound Systems will give you blah blah, peice of mind, blah blah, maximum comfort, and everything nice in Arizona.</li>
          </ul>
          <div class="clearfix">
          </div>
        </div>
      </div>
      <div class="col-sm-2>">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2>">
      </div>
      <div class="col-sm-8 mobile-tile odd">
        <div class="col-sm-12">
          <img class="img-responsive" src="img/stocks/security_monitoring_app.jpg" alt="Strong Tower Installations">
        </div>
        <div class="col-sm-12">
          <h1>Home security</h1>
          <p>Home security should be a high priority for any home owner whether you are married, a single parent, or simply need to add an appropriate alarm system for your family’s elders.Home security should be a high priority for any home owner whether you are married, a single parent, or simply need to add an appropriate alarm system for your family’s elders.</p>
          <ul>
            <li>Our Home security will give you blah blah, peice of mind, blah blah, maximum comfort, and everything nice in Arizona.</li>
          </ul>
          <div class="clearfix">
          </div>
        </div>
      </div>
      <div class="col-sm-2>">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2>">
      </div>
      <div class="col-sm-8 mobile-tile">
        <div class="col-sm-12">
          <img class="img-responsive" src="img/stocks/cameras_sensors.jpg" alt="Strong Tower Installations">
        </div>
        <div class="col-sm-12">
          <h1>Cameras & Surveillance</h1>
          <p>The increase in crime rates makes it necessary that each one of us take precautions of our own to keep our home and families safe. The easy and affordable access to technology has brought cameras and surveillance systems within reach for everyone.The increase in crime rates makes it necessary that each one of us take precautions of our own to keep our home and families safe. The easy and affordable access to technology has brought cameras and surveillance systems within reach for everyone.</p>
          <ul>
            <li>Our Cameras & Surveillance will give you blah blah, peice of mind, blah blah, maximum comfort, and everything nice in Arizona.</li>
          </ul>
          <div class="clearfix">
          </div>
        </div>
      </div>
      <div class="col-sm-2>">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2>">
      </div>
      <div class="col-sm-8 mobile-tile odd">
        <div class="col-sm-12">
          <img class="img-responsive" src="img/stocks/Home_automation_app_1.jpg" alt="Strong Tower Installations">
        </div>
        <div class="col-sm-12">
          <h1>Wifi Solutions</h1>
          <p>Relying on a single router is like asking a loud speaker in your living room to provide great sound throughout your home. It’s simple physics: WiFi waves don’t go through walls well and have an even harder time climbing stairs. Ever tried to stream a show from your bedroom when your router’s in the office downstairs? It’s a buffering nightmare.
          </p>
          <ul>
            <li>Our Wifi Solutions will give you blah blah, peice of mind, blah blah, maximum comfort, and everything nice in Arizona.
            </li>
          </ul>
          <div class="clearfix">
          </div>
        </div>
      </div>
      <div class="col-sm-2>">
      </div>
    </div>
      <div class="row">
        <div class="col-sm-2>">
        </div>
        <div class="col-sm-8 mobile-tile">
          <div class="col-sm-12">
            <img class="img-responsive" src="img/stocks/home_automation_app_2.jpg" alt="Strong Tower Installations">
          </div>
          <div class="col-sm-12">
            <h1>Home Automation</h1>
            <p>The term home automation means exactly that—automating the home and related household activities. This term encompasses a whole range of products and services ranging from the automation of lights in your home to the installation of a state-of-the art security system.The term home automation means exactly that—automating the home and related household activities. This term encompasses a whole range of products and services ranging from the automation of lights in your home to the installation of a state-of-the art security system.
            </p>
            <ul>
              <li>Our Home Automation will give you blah blah, peice of mind, blah blah, maximum comfort, and everything nice in Arizona.
              </li>
            </ul>
            <div class="clearfix">
            </div>
          </div>
        </div>
        <div class="col-sm-2>">
        </div>
      </div>
    </div>
  </div>


  <div class="container desktop-layout">
    <div class="row desktile" id="tvinstall">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-6">
        <img class="img-responsive" src="img/stocks/tvmount_install.jpg" alt="Strong Tower Installations">
      </div>
      <div class="col-sm-4">
        <h1>TV Installation</h1>
        <p>We do it all: Wall-mount flat panel televisions, install speakers and wiring, install rack systems, install security cameras, conceal wiring inside the walls, set-up and calibrate televisions and sound systems, programming on custom remote controls, and much more…We do it all: Wall-mount flat panel televisions, install speakers and wiring, install rack systems, install security cameras, conceal wiring inside the walls, set-up and calibrate televisions and sound systems, programming on custom remote controls, and much more…
        </p>
        <ul>
          <li>Our TV Installation will give you blah blah, peice of mind, blah blah, maximum comfort, and everything nice in Arizona.
          </li>
        </ul>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
    <div class="row desktile odd" id="media">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-4">
        <h1>Media Rooms & Surround Sound Systems</h1>
        <p>There are many variables that can make or break or theater or media room. We can design rooms based on acoustics, aesthetics, and audio video needs. We work with architects and interior designers to make sure that every detail is perfect.There are many variables that can make or break or theater or media room. We can design rooms based on acoustics, aesthetics, and audio video needs. We work with architects and interior designers to make sure that every detail is perfect.
        </p>
        <ul>
          <li>Our Media Rooms & Surround Sound Systems will give you blah blah, peice of mind, blah blah, maximum comfort, and everything nice in Arizona.
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <img class="img-responsive" src="img/stocks/hometheater_2.jpg" alt="Strong Tower Installations">
      </div>
      <div class="col-sm-1">
      </div>
    </div>
    <div class="row desktile" id="security">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-6">
        <img class="img-responsive" src="img/stocks/security_monitoring_app.jpg" alt="Strong Tower Installations">
      </div>
      <div class="col-sm-4">
        <h1>Home security</h1>
        <p>Home security should be a high priority for any home owner whether you are married, a single parent, or simply need to add an appropriate alarm system for your family’s elders. Home security should be a high priority for any home owner whether you are married, a single parent, or simply need to add an appropriate alarm system for your family’s elders.
        </p>
        <ul>
          <li>Our Home security will give you blah blah, peice of mind, blah blah, maximum comfort, and everything nice in Arizona.
          </li>
        </ul>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
    <div class="row desktile odd" id="cameras">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-4">
        <h1>Cameras & Surveillance</h1>
        <p>The increase in crime rates makes it necessary that each one of us take precautions of our own to keep our home and families safe. The easy and affordable access to technology has brought cameras and surveillance systems within reach for everyone.The increase in crime rates makes it necessary that each one of us take precautions of our own to keep our home and families safe. The easy and affordable access to technology has brought cameras and surveillance systems within reach for everyone.
        </p>
        <ul>
          <li>Our Cameras & Surveillance will give you blah blah, peice of mind, blah blah, maximum comfort, and everything nice in Arizona.
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <img class="img-responsive" src="img/stocks/cameras_sensors.jpg" alt="Strong Tower Installations">
      </div>
      <div class="col-sm-1">
      </div>
    </div>
    <div class="row desktile" id="wifi">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-6">
        <img class="img-responsive" src="img/stocks/Home_automation_app_1.jpg" alt="Strong Tower Installations">
      </div>
      <div class="col-sm-4">
        <h1>Wifi Solutions</h1>
        <p>Relying on a single router is like asking a loud speaker in your living room to provide great sound throughout your home. It’s simple physics: WiFi waves don’t go through walls well and have an even harder time climbing stairs. Ever tried to stream a show from your bedroom when your router’s in the office downstairs? It’s a buffering nightmare.
        </p>
        <ul>
          <li>Our Wifi Solutions will give you blah blah, peice of mind, blah blah, maximum comfort, and everything nice in Arizona.
          </li>
        </ul>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
    <div class="row desktile odd" id="automation">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-4">
        <h1>Home Automation</h1>
        <p>The term home automation means exactly that—automating the home and related household activities. This term encompasses a whole range of products and services ranging from the automation of lights in your home to the installation of a state-of-the art security system.The term home automation means exactly that—automating the home and related household activities. This term encompasses a whole range of products and services ranging from the automation of lights in your home to the installation of a state-of-the art security system.
        </p>
        <ul>
          <li>Our Home Automation will give you blah blah, peice of mind, blah blah, maximum comfort, and everything nice in Arizona.
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <img class="img-responsive" src="img/stocks/home_automation_app_2.jpg" alt="Strong Tower Installations">
      </div>
      <div class="col-sm-1">
      </div>
    </div>
  </div>
</section>
<section class="our-partners">
  <div class="container">
    <div class="row">
      <h2 class="section-title-grey">OUR PARTNERS</h2>
      <hr class="section-hr-grey">
      <ng-owl-carousel id='products-carousel' class="owl-theme" owl-items="owlitems" owl-properties="owlpropertiesPartners">
        <div class="item">
          <img src="img/partners/2gig_logo.jpg" alt="2gig_logo">
        </div>
        <div class="item">
          <img src="img/partners/alarmdotcom_logo.jpg" alt="alarmdotcom_logo">
        </div>
        <div class="item">
          <img src="img/partners/cctvcore_logo.jpg" alt="cctvcore_logo">
        </div>
        <div class="item">
          <img src="img/partners/denom_logo.jpg" alt="denom_logo">
        </div>
        <div class="item">
          <img src="img/partners/elura_logo.jpg" alt="elura_logo">
        </div>
        <div class="item">
          <img src="img/partners/honeywell_logo.jpg" alt="honeywell_logo">
        </div>
        <div class="item">
          <img src="img/partners/jamo_logo.jpg" alt="jamo_logo">
        </div>
        <div class="item">
          <img src="img/partners/mountainwest_logo.jpg" alt="mountainwest_logo">
        </div>
        <div class="item">
          <img src="img/partners/onkyo_logo.jpg" alt="onkyo_logo">
        </div>
        <div class="item">
          <img src="img/partners/ring_logo.jpg" alt="ring_logo">
        </div>
        <div class="item">
          <img src="img/partners/samsung_logo.jpg" alt="samsung_logo">
        </div>
        <div class="item">
          <img src="img/partners/wave_logo.jpg" alt="wave_logo">
        </div>
        <div class="item">
          <img src="img/partners/yamaha_logo.jpg" alt="yamaha_logo">
        </div>
      </ng-owl-carousel>
    </div>
  </div>
</section>
