// sass
$a-tags: 'a, a:active, .navigation div, .collapsible, a:hover, a:visited, .totop';
$a-tags-hover: 'a:active, a:hover, .navigation div:active, .navigation div:hover, .collapsible:hover, .collapsible:active, .totop:hover, .totop:active';

#{$a-tags} {
  color: #dedbd8;
  text-decoration: none;
  transition: .5s;
}

#{$a-tags-hover} {
  color: #fff;
}

//image preload
body:before{
     content: '';
     background: url(../img/vsubs/main.jpg), url(../img/etq/main.jpg), url(../img/star/main.jpg), url(../img/star/main.jpg), url(../img/minis/main.jpg), url(../img/shyft/main.jpg), url(../img/zen/main.jpg);
     width:0;height:0;visibility:hidden;
}

body {
  /* Better Font Rendering */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

body {
  background: #333;
  height: 100%;
}

.main-wrapper {
  overflow: hidden;
}

.navbar {
  position: fixed;
  z-index: 2;
  background: #333;
  top: 0;
  left: 0;
  width: 100%;
  color: #FFF;
}

.navbar h1 {
  padding: 7px 0px 0px 7px;
  margin: 2px 2px 6px 0px;
  font-size: 1.15em;
  display: inline-block;
  cursor: pointer;
}

.navigation {
  float: right;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 4px;
  font-size: .8rem;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  line-height: 1.4;
}

.navbar.minimize  h1{
  padding: 0 5px;
  margin: 10px 13px;
}



.panel {
  position: relative;
  z-index: 1;
}

#home {
  background: #354d5a;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  color: #FFF;
}

#home .title {
  margin-top: calc(6em + 18vw);
  width: 100%;
  text-align: center;
}

.title a {
  text-shadow: 0px 1px 1px black;
}

#home h1 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.3em;
  margin: .4em .1em;
}

#home a {
  text-transform: uppercase;
  margin: 10px;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  font-weight: 300;
}




// about section

#about {
  background: #fff;
  margin-top: calc(100vh - 50px);
}

.portrait {
  height: 125px;
  background: #bbb;
  border: 3px solid #dedbd8;
  margin-top: -88px;
  position: absolute;
  left: 10%;
  transition: .5s;
  border-radius: 50%;
}

.content {
  color: #444;
  margin: 0 auto;
  padding: 10% 10% 20%;
  text-align: right;
}

.content h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 27px 0 7px;
  font-size: 1.25em;
}

.aboutme ul {
  padding-top: 10px;
}

.aboutme li {
  line-height: 1.2;
  font-weight: 300;
  font-size: 1.13em;
  color: #000;
  margin: 0 auto;
  text-align: right;
  opacity: 0;
}

.aboutme a {
  color: #039be5;
}

.content span {
  font-size: 2em;
}

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.content li {
  padding: 10px 7px;
  display: inline-block;
}

.contentdivider {
  display: none;
  background: #333;
  width: 1px;
}

.content hr {
  margin-top: 5vh;
}

.tech {
  text-align: center;
}

.tech p {
  font-size: 1em;
}

.tech li {
  padding: 10px 5px;
}

.icon {
  height: 30px;
}


// projects

#projects {
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 50px;
}

#projects h1 {
  text-transform: uppercase;
  text-align: center;
  padding: 0px 0 6px;
  color: #fff;
  font-size: 1.3em;
  margin: 0px 0px 14px;
}
.project-wrap {
  width: 100%;
  height: 460px;
}

.project-bg {
  position: absolute;
  width: 100%;
  height: 460px;
  background: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
  filter: brightness(45%);
  -webkit-filter: brightness(45%);
  -moz-filter: brightness(45%);
}

.bg3, .bg9 {
  background: url(../img/vsubs/main.jpg) no-repeat 25% 45%;
}
.bg4 {
    background: url(../img/etq/main.jpg) no-repeat 47% 53%;
}
.bg5 {
  background: url(../img/star/main.jpg) no-repeat center 24%;
}
.bg6 {
    background: url(../img/minis/main.jpg) no-repeat center 43%;
}
.bg7, .bg1 {
    background: url(../img/shyft/main.jpg) no-repeat 50% 57%;
}
.bg8, .bg2 {
    background: url(../img/zen/main.jpg) no-repeat center 48%;
}

.project-card {
  height: 252px;
  background: #fff;
  text-align: center;
  margin-top: 88px;
  border-radius: 1%;
  padding: 5px 12px;
}

.project-card h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

.project-card h4 {
  font-size: 13px;
  margin-bottom: 7px;
}

.owl-item {
  filter: brightness(75%);
  -webkit-filter: brightness(75%);
  -moz-filter: brightness(75%);
}

.owl-item.active.center  {
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
}


.content-tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px 0;
}

.content-tech div {
  background-color: #336791;
  color: #eee;
  padding: .2rem .5rem;
  border-radius: 2rem;
  font-size: .65rem;
  margin: 0 2px 2px 0;
}

.content-descrip {
  text-align: left;
  font-size: 13px;
  margin-top: 5px;
  line-height: 1.01;
}

.content-descrip p {
  margin: 7px 0;
}

.content-descrip a {
  color: #0072cd;
}

.project-links {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px 20px 12px;
}

.project-links a {
  color: #0072cd;
  font-size: 22px;
}

.project-links p:nth-child(1){
  float: left
}

.project-links p:nth-child(2){
  float: right
}

////////////// contact

#contact {
  background: #a02929;
  color: #fff;
  padding-bottom: 30px;
}

#contact h1 {
  padding-top: 60px;
  text-align: center;
  margin-top: 0;
  font-size: 1.7em;
}

#contact hr {
  width: 100px;
  margin-bottom: 30px
}

.contactinfo {
  width: 100%;
  position: relative;
  text-align: center;
  max-width: 65em;
  overflow: hidden;
  margin: 40px auto 20px auto;
}

.contactinfo h2 {
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 0.1em;
}

.email {
  width: 100%;
  margin-bottom: 40px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 15px;
}

.email h3 {
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.2;
}

.social-media {
  width: 100%;
  margin-bottom: 30px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.social-media h2 {
  margin-top: 10px;
}

.social-media i {
  font-size: 3.3em;
  padding: 0 10px;
}

.social-media a {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.sendmessage {
  padding: 0 10%;
  margin: 25px 0 30px 0;
  font-family: 'Lato', sans-serif;
}

.collapsible {
  border-top: none;
  border-right: none;
  border-left: none;
  box-shadow: none;
}

.collapsible-header {
  padding: 15px 40px;
  width: auto;
  text-align: center;
  cursor: pointer;
  display: block;
  min-height: 0rem;
  padding: 0 1rem;
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  font-size: 1.2em;
  margin: auto;
  width: 240px;
  border: 1px solid;
  font-weight: 400;
}

.collapsible-body {
  border: 1px solid #ddd;
  margin-top: 10px;
  box-sizing: border-box;
}

textarea {
  height: 24vh;
}

.messagebutton {
  background: #dedbd8;
  color: #336791;
  margin: 15px 0 0;
  height: 30px;
  width: 80px;
}

.btn {
  padding: 0 1rem;
  background-color: #354d5a;
  margin: 15px 0 0;
}

.resume {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 40px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

#copyright h2 {
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-weight: 300;
  background: #354d5a;
  box-shadow: 0px 50px 0px #333333;
}

.totop {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 3em;
  margin: 5px 2%;
  cursor: pointer;
  text-shadow: 0px 3px 4px rgba(0,0,0,.5);
}

/////////////// Animations ///////////////////

.navbar {
  transition: 0.5s;
}




/////////////////////////////////////////////////
/////////////// @media querys  //////////////////
/////////////////////////////////////////////////

//Phone landscape
@media screen and (min-width:320px) and (max-width:767px) and (orientation:landscape) {
  #about {
    margin-top: calc(100vh - 40px);
  }

  #home .title {
    margin-top: 6em;
  }

  .portrait {
    height: 135px;
    margin-top: -100px;
  }
}



//big phone
@media (min-width : 375px) {
  .navbar h1 {
    font-size: 1.4em;
  }

  #home h1 {
    font-size: 1.2em;
  }

  #projects h1 {
    // margin: 0px 0px 50px;
  }

  .project-wrap {
    height: 566px;
  }

  .project-bg {
    height: 566px;
  }

  .project-card {
    margin-top: 130px;
    height: 281px;
  }

  .project-card h3 {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .project-card h4 {
    font-size: 15px;
    margin-bottom: 9px;
  }

  .content-tech div {
    background-color: #336791;
    color: #eee;
    padding: .2rem .5rem;
    border-radius: 2rem;
    font-size: 0.7rem;
    margin: 0 3px 2px 0;
  }

  .content-descrip {
    text-align: left;
    font-size: 15px;
    margin-top: 14px;
    line-height: 1.2;
  }

  .project-links a {
    color: #0072cd;
    font-size: 26px;
  }
}

//tablet
@media (min-width : 600px) {

  .bg3, .bg9 {
    background: url(../img/vsubs/main.jpg) no-repeat center center;
  }
  .bg4 {
      background: url(../img/etq/main.jpg) no-repeat center center;
  }
  .bg5 {
    background: url(../img/star/main.jpg) no-repeat center center;
  }
  .bg6 {
      background: url(../img/minis/main.jpg) no-repeat center center;
  }
  .bg7, .bg1 {
      background: url(../img/shyft/main.jpg) no-repeat center center;
  }
  .bg8, .bg2 {
      background: url(../img/zen/main.jpg) no-repeat center center;
  }

  .project-wrap {
      height: 732px;
  }

  .project-bg {
      height: 733px;
  }

  .navbar h1 {
    font-size: 1.9em;
  }

  #home h1 {
    font-size: 1.5em;
  }

  #home a {
    font-size: 24px;
  }

  #projects h1 {
    // margin: 0px 0px 70px;
    font-size: 1.8em;
    margin: 0px 0px 25px;
}

  #projects {
    padding: 60px 0;
  }

  .aboutme li {
    font-size: 1.4em;
  }

  .icon {
    height: 40px;
  }

  .content h2 {
    font-size: 1.5em;
  }

  #contact h1 {
    font-size: 2.2em;
  }

  #contact {
    padding: 30px 0 60px;
  }

  .contactinfo h2 {
    font-size: 1.35em;
  }

  .title a {
    font-size: 1.15em;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 13px;
    height: 13px;
    margin: 8px 10px;
  }

  .project-card h3 {
    font-size: 26px;
    margin-bottom: 10px;
  }

  .project-card h4 {
    font-size: 17px;
    margin-bottom: 10px;
}

.content-tech div {
    background-color: #336791;
    color: #eee;
    padding: .2rem .5rem;
    border-radius: 2rem;
    font-size: 0.8rem;
    margin: 0 5px 3px 0;
}

.content-descrip {
    text-align: left;
    font-size: 16px;
    margin-top: 15px;
    line-height: 1.1
}

.project-links a {
    color: #0072cd;
    font-size: 27px;
}

.project-links {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px 28px 14px;
}

.project-card {
    margin-top: 140px;
    height: 306px;
}

}

//full width
@media (min-width : 900px) {

  .project-bg {
    height: 757px;
  }

  .project-wrap {
    height: 814px;
}

  .project-card {
    margin-top: 174px;
    height: 350px;
    padding: 5px 21px;
  }


  .project-card h3 {
    font-size: 38px;
    margin-bottom: 11px;
  }

  .project-card h4 {
    font-size: 19px;
    margin-bottom: 14px;
  }

  .content-tech div {
    background-color: #336791;
    color: #eee;
    padding: 0.2rem .5rem;
    border-radius: 2rem;
    font-size: .9rem;
    margin: 0 5px 3px 0;
  }

  .content-descrip {
      text-align: left;
      font-size: 17px;
      margin-top: 16px;
      line-height: 1.12;
  }

  .content-descrip p {
    margin: 14px 0;
  }

  .project-links {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px 31px 22px;
  }

  .navbar h1 {
    font-size: 1.7em;
    margin-left: 10px;
  }

  .navigation {
    margin-right: 30px;
    font-size: 1rem;
  }

  #home h1 {
    font-size: 1.6em;
    font-weight: 700;
  }

  #home a {
    font-size: 1.3em;
  }

  .portrait {
    height: 200px;
    margin-top: -150px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    padding: 10% 10%;
  }

  .content span {
    font-size: 2.5em;
    list-style: 60px;
  }

  .aboutme {
    width: 45%;
    padding-top: 60px;
  }

  .aboutme li {
    font-size: 1.48em;
  }

  .tech {
    width: 45%;
  }

  .tech p {
    font-size: 1.3em;
    font-weight: 300;
  }

  .tech div {
    padding: 0 0 20px;
  }

  .content hr {
    display: none;
  }

  .contentdivider {
    display: block;
  }

  .aboutme h3 {
    font-size: 2em;
  }

  .tech h2 {
    text-align: left;
  }

  .tech ul {
    text-align: left;
  }

  .icon {
    height: 35px;
  }

  #projects h1 {
    font-size: 1.8em;
    padding: 8px 0 50px;
  }


  .content-photos img {
    height: 250px;
  }

  .project {
    padding: 10px 1.5%;
  }

  .projectType {
    margin-bottom: 0px;
  }

  .contactinfo {
    display: flex;
  }

  #contact hr {
    margin-bottom: 50px
  }

  #contact h1 {
    font-size: 2em;
  }

  .contactinfo h2 {
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: 0.1em;
  }

  .social-media i {
    font-size: 2.8em;
  }

  .email h3 {
    font-size: 1.3em;
  }

  .sendmessage {
    padding: 0 25%;
  }

  #contact {
    padding: 90px 0 80px;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 17px 13px;
  }

}

@media (min-width : 1200px) {
.project-card {
    margin-top: 174px;
    height: 372px;
    padding: 19px 21px;
}
}
