// global

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background: #f4f4f4;
  color: #333;
  line-height: 24px;
  font-size: 14px;
  overflow-x: hidden;
}

header {
  z-index: 100;
}

p {
    margin: 0 0 10px;
}
a {
  color: #a7090a;
  background-color: transparent;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

hr {
  border-top: 3px solid #a7090a!important;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.hide {
  display: none;
}


// contact-bar
.contact-bar {
  background: black;
  width: 100%;
  height: 38px;
  padding-top: 10px;
  padding-right: 25px;
}

.contact-bar a {
  color: #fff;
}

.call-now {
  float: right;
}

// navbar

.navbar-wrap {
  background: #fff;
  z-index: 5;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.3);
}

.navbar-main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 140px;
}

.navbar-main img {
  height: 130px;
  -webkit-transition: .25s;
  transition: .25s;
  transition-delay: 100ms;
  cursor: pointer;
}

.navbar-sticky img {
  height: 43px;
}

.body-sticky {
  margin-top: 140px;
}

.navigation {
  float: right;
  margin-bottom: 5px;
  user-select: none;
}

.navigation > li {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0 12px;
  padding-bottom: 6px;
  color: #7f7f7f;
  font-size: 20px;
  -webkit-transition: .25s;
  transition: .25s;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 12px;
}

.navbar-sticky .navigation > li {
  margin: 0 12px;
  transition-delay: 100ms;
}

.navigation .active {
  border-bottom: 2px solid #a7090a;
  color: #000;
}

.navigation li:hover {
  border-bottom: 2px solid #a7090a;
  color: #000;
}

.hamburger-btn {
  display: none;
  position: relative;
  float: right;
  margin-right: 5px;
  padding: 9px 14px;
  margin-bottom: 6px;
  background-color: transparent;
  background-image: none;
  border: 2px solid #000;
  border-radius: 4px;
}

.hamburger-btn:hover {
  text-decoration: none;
  background-color: #2d2d2d;
  color: #fff;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.3);
}


//ui wrapper
.main-wrapper {
  // max-width: 1200px;
  // margin: 0 auto;
  margin-top: 10px;
  // z-index: -1;
  // position: relative;
}

.fade {
  display: block;
  opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all .2s ease;
    transition: all 200ms cubic-bezier(.645,.045,.355,1);
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}


//hero

.hero {
    height: 462px;
    max-height: 462px;
    text-align: center;
    background-image: url(../img/placeholder.jpg);
    background-size: cover;
    background-position: center;
}
.hero, .hero .container {
    position: relative;
}
.hero .container h1 {
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  line-height: 82px;
  color: #FFF;
  position: absolute;
  z-index: 1;
  display: block;
}

.hero, .hero .container {
  position: relative;
}
@media only screen and (min-width: 992px) {

  .hero .container h1 {
    font-size: 60px;
    font-weight: 300;
    line-height: 82px;
    color: #FFF;
    position: relative;
    z-index: 1;
    display: block;
  }
}

@media only screen and (min-width: 320px) {

  .hero .container h1 {
    font-size: 36px;
    margin: auto;
    width: 50%;
    text-align: center;
    font-weight: 300;
    line-height: 48px;
    color: #FFF;
    position: relative;
    top: 50%;
    left: 0;
    z-index: 1;
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  .hero .container {
    padding-top: 180px;
  }

}
@media only screen and (min-width: 320px) {
  .hero .container {
    padding-top: 200px;
    position: relative;
  }

}
@media only screen and (min-width: 992px) {
  .hero {
    height: 462px;
    max-height: 462px;
    position: relative;
  }
}

@media only screen and (min-width: 320px) {
  .hero {
    height: 462px;
    max-height: 462px;
    position: relative;
  }
}


// home view
#main-carousel {
  width: 100%;
  position: relative;
}

#main-carousel .owl-nav {
  margin-top: 0!important;
}

#main-carousel .owl-nav > div {
  font-size: 16px;
  position: absolute;
  background-color: transparent;
  top: 45%;
}

#main-carousel .owl-nav .owl-prev {
    left: 2%;
}

#main-carousel .owl-nav .owl-next {
    right: 2%;
}


.btn-circle {
  color: #FFF;
  width: 36px;
  height: 36px;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 8px 0 0;
  background-color: transparent;
  transition: background .2s ease-in-out,color .2s ease-in-out,box-shadow .2s ease-in-out;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

// .services {
//   height: 1200px;
// }

.services .container {
  padding: 50px 0 100px;
  background-color: #fff;
  border-bottom: 2px solid #f4f4f4;
}

.section-title-grey {
  clear: both;
  text-align: center;
  color: #4A4A4A;
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.section-hr-grey {
  border-top: 3px solid #4A4A4A;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 50px;
  display: block;
  clear: both;
}

.services-pack {
  padding: 50px 14px;
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 0 3px 30px 5px rgba(0,0,0,.15);
}

.services-pack  h2 {
  padding: 0 10%;
  font-size: 18px;
  line-height: 39px;
  color: #797979;
  margin-bottom: 50px;
  text-align: center;
}

.techicon, .services-pack p, .services-pack h3 {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.techicon {
  font-size: 60px;
}

.services-pack h3 {
  font-weight: 800;
  line-height: 35px;
  color: #4A4A4A;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.services-pack  p {
  width: 80%;
  font-size: 16px;
  text-align: center;
  line-height: 26px;
  color: #797979;
}


.services-pack .service-title {
  margin: 15px 0;
}

.showroom {

}

.testimonials {

}

.recent-socialmedia {

}

.our-partners {
  display: block;
}

.our-partners .container {
  padding: 0!important;
  background-color: #fff;
  padding-bottom: 50px;
  border-bottom: 2px solid #f4f4f4;
}

.our-partners .container .row {
  margin: 20px 12% 70px;
}

#products-carousel .owl-nav {
  margin-top: 0!important;
}

#products-carousel .owl-nav > div {
  font-size: 19px;
  position: absolute;
  background-color: transparent;
  top: 22px;
}

#products-carousel .owl-nav .owl-prev {
    left: -12%;
}

#products-carousel .owl-nav .owl-next {
    right: -12%;
}

#products-carousel i {
  color: #797979;
}

#products-carousel .owl-dots {
  margin-top: 12px;
}

#products-carousel .item {
  height: 70px;
}

#products-carousel .item img {
  height: 32px;
  width: auto;
}

// testimonials
.review1 {
  display: flex;
justify-content: center;

}

// about us

.first-letter {
    color: #a7090a;
    font-size: 36px;
}

.quote p:first-child {
    font-weight: 300;
    font-style: italic;
}
.quote p, .quote p:first-child {
    font-size: 23px;
    text-align: left;
    line-height: 32px;
}
@media only screen and (min-width: 768px) {
  .quote p {
    font-size: 23px;
    font-weight: 300;
    font-style: italic;
    text-align: left;
    line-height: 32px;
  }

}
@media only screen and (min-width: 320px) {

  .quote p {
    text-align: center;
  }
  .quote p {
    font-weight: 700;
  }
}


// footer
footer .container {
  background-color: #fff;
}

.footer-info {
    display: block;
    border-top: 2px solid #f6f6f6;
}
.footer-info .row {
    margin: 20px 0 10px;
}

.footer-info h2 {
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 2px;
    margin-bottom: 25px;
    margin-top: 20px;
}

.contact div a i {
    color: #a7090a;
    font-size: 16px;
    text-align: center;
    width: 30px;
    padding-right: 10px;
}

.contact div i {
    padding-top: 5px;
    width: 10%;
}

.contact div i, .contact div span {
    display: inline-block;
    margin-bottom: 10px;
    float: left;
}

.contact div a span {
    color: #4a4a4a;
}

.contact div span {
    width: 90%;
}

.contact div i, .contact div span {
    display: inline-block;
    margin-bottom: 10px;
    float: left;
}



.footer-social .col-sm-10 {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #f6f6f6;
}



.footerlogo {
    clear: both;
    float: left;
    margin: 0 auto;
    display: block;
}

.footer-social .footerlinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 300px;
    display: inline-block;
    padding-left: 40px;
}



.footer-social .sociallinks {
    clear: none;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
}

.footer-social .footerlinks li {
    float: left;
}

.footer-social .footerlinks li a {
    display: block;
    padding: 6px 15px;
}

.footer-social .sociallinks li a {
    display: block;
    padding: 6px;
}

.footer-social .sociallinks li {
    float: left;
}
.footer-social .footerlinks li a, .footer-social .sociallinks li a {
    line-height: 17px;
    font-size: 14px;
    color: #4a4a4a;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}
.footer-social .sociallinks li a {
  font-size: 18px;
}


.fb-like {
  margin-top: 5px;
  margin-right: 10px;
  margin: 5px 10px 0 10px;
}


.thumbtack-mini img {
  height: 20px;
}




// @ media querys

@media (max-width: 767px) {
  header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  .navbar-main {
    height: auto;
  }
  .navbar-main img {
    height: 50px;
  }
  .navigation {
    display: none;
  }
  .contact-bar {
    width: 100%;
    height: 30px;
    padding-top: 6px;
  }
  .main-wrapper {
    margin-top: 90px;
  }
  .hamburger-btn {
    display: block;
  }
}
.footer-social {
  padding-top: 20px;
}


@media only screen and (min-width: 320px) {
  .services-pack {
    padding: 50px 14px;
  }
  .footer-social .footerlinks {
    max-width: 350px;
    display: block;
    margin: 40px auto;
  }
  .footer-social .footerlogo {
    clear: both;
    float: none;
    width: 100px;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  .footer-social .footerlinks li a {
      padding: 6px 8px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-social .footerlinks {
    max-width: 400px;
    display: inline-block;
    margin: 8px 0;
  }
  .footer-social .footerlogo {
    clear: both;
    float: left;
    width: 70px;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  .footer-social .footer-social .footerlinks li a {
      padding: 6px 15px;
  }
  .services-pack {
    padding: 50px 14px;
  }
  .container {
    width: 730px;
  }
  .footer-social .footer-info, .footer-social .sociallinks {
    display: block;
    margin-top: 8px;
  }
  #products-carousel .item img {
    height: 50px;
  }
}

@media only screen and (min-width: 992px) {
  .footer-social .footerlinks {
    max-width: 800px;
  }
  .services-pack {
    padding: 50px 0;
  }
  .container {
    width: inherit;
    padding: 0 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
      width: 1200px;
      padding: 0;
  }
}
